body {
    --main-bg-color: #1c1838;
    --main-btn-color: #477eb7;
    --main-btn-color-hover: #80addb;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    background-color: var(--main-bg-color);
}

.hidden {
    display: none !important;
}

button {
    min-width: 150px;
    padding: 10px 15px;
    margin: 3px;
    border: none;
    border-radius: 2px;
    background-color: var(--main-btn-color);
    font-size: 20px;
    color: #111;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: var(--main-btn-color-hover);
}

button:active {
    background-color: var(--main-btn-color);
}

#app {
    width: 1200px;
    margin: auto;
}

.level-menu {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: var(--main-btn-color);
}

.level-menu-item {
    display: block;
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 22px;
    font-weight: bold;
}

.level-menu-item:hover {
    cursor: pointer;
    background-color: var(--main-btn-color-hover);
}

.level-menu-item:active {
    background-color: var(--main-btn-color);
}

.level-menu-item:first-child {
    border-right: 1px solid #315b87;
}

.level-menu-item:last-child {
    border-left: 1px solid #315b87;
}

.lesson-menu {
    display: flex;
    flex-flow: wrap;
    background-color: #cd6969;
    margin: 0;
    list-style: none;
}

.lesson-menu .lesson-menu-item {
    display: flex;
    background-color: #cd6969;
    margin: 0;
    list-style: none;
}

.lesson-menu .lesson-menu-item {
    padding: 10px;
}

.lesson-menu .lesson-menu-item:hover {
    background-color: #d38181;
    color: #eee;
    cursor: pointer;
}

.lesson-wrapper {
    padding: 10px;
}

.lesson-buttons {
    display: flex;
    flex-wrap: wrap;
}

.lesson-card {
    display: inline-block;
    min-width: 300px;
    background-color: #cd6969;
    border-radius: 3px;
    padding: 10px 20px 20px;
    margin-top: 10px;
}

.lesson-card .play-again {
    font-size: 24px;
    margin-left: -10px;
    vertical-align: text-bottom;
    cursor: pointer;
}

.lesson-card .word {
    font-size: 32px;
    color: #eee;
    line-height: 1;
    font-weight: bold;
}

.lesson-card .transcription {
    font-size: 18px;
    margin-left: 10px;
}

.lesson-card .translation {
    font-size: 26px;
    margin-left: 30px;
    font-weight: bold;
}

.lesson-card .examples, .lesson-card .variants {
    margin-top: 10px;
}

.lesson-card .examples .examples-content, .lesson-card .variants .variants-content {
    background-color: #d38181;
    border-radius: 3px;
    padding: 5px;
    font-size: 18px;
}

@media (max-width: 767px) {
    #app {
        width: 100%;
    }

    button {
        min-width: auto;
    }

    /* .lesson-menu {
        flex-flow: nowrap;
        overflow: auto;
    } */

    .lesson-buttons {
        flex-wrap: nowrap;
        overflow: auto;
    }

    .lesson-card {
        width: calc(100% - 40px);
    }
}